PORT=portnum

MONGODB_URI=your url
ADMIN_USERNAME=your username
ADMIN_PASSWORD_HASH=password


RAZORPAY_KEY_ID=password
RAZORPAY_KEY_SECRET=password

 #SMTP_HOST=smtp.gmail.com

#SMTP_PORT=587
#SMTP_USER=youremail@gmail.com
#SMTP_PASS=your_16_char_app_password
#SMTP_FROM="Senbagam Furniture <youremail@gmail.com>"
#SITE_URL=https://your-site.netlify.app


