PORT=4000

MONGODB_URI=mongodb+srv://hema__subburaj__396:************************************@cluster0.kpwn9yc.mongodb.net/furnish?appName=Cluster0

SESSION_SECRET=@#$^&^%$@#$%^&*(*&^%$#@

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2b$10$ljn2k2grHUIyhjN9DNHDwO7DpeSzyrApZCU6hA.RuenmxmFqw/NW.

RAZORPAY_KEY_ID=@#$%^&*()_)(*&^%$#@
RAZORPAY_KEY_SECRET=@#$%^&*()_)(*&^%$#@!
